In [3]:
import pandas as pd
from hmmlearn.hmm import GaussianHMM
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("/mnt/8E1E76BC1E769D41/Ki6/Phân tích chuỗi tgian/data-kiem-tra-2.csv")
df

              date  truong_1  truong_2  truong_3  truong_4  truong_5
0       10.05.2013         4        58      3773     299.0         1
1       26.05.2013         4        58      3768     249.0         1
2       19.05.2013         4        58      4036     419.0         1
3       25.05.2013         4        58     12878     149.0         1
4       15.05.2013         4        58     12885     148.0         1
...            ...       ...       ...       ...       ...       ...
550033  07.11.2013        10        37     18474     199.0         1
550034  18.11.2013        10        37     18474     199.0         1
550035  24.11.2013        10        37     18484     199.0         1
550036  11.11.2013        10        37     19751      99.0         1
550037  26.11.2013        10        37     18498     199.0         1

[550038 rows x 6 columns]

In [6]:
df.dtypes

date         object
truong_1      int64
truong_2      int64
truong_3      int64
truong_4    float64
truong_5      int64
dtype: object

In [7]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df.dtypes

date        datetime64[ns]
truong_1             int64
truong_2             int64
truong_3             int64
truong_4           float64
truong_5             int64
dtype: object

In [8]:
df = df.groupby('date').sum().reset_index()

In [9]:
df.set_index('date', inplace=True)

In [10]:
train_df = df[:-15]
test_df = df[-15:]
model_hmm = GaussianHMM(n_components=4, covariance_type="full", random_state=42)
model_hmm.fit(train_df['truong_2'].values.reshape(-1,1))

predicted_prices = []
current_price = train_df['truong_2'].values[-1]

for _ in range(len(test_df)):
    # Dự đoán trạng thái ẩn cho giá trị hiện tại
    current_state = model_hmm.predict([[current_price]])[0]
    # Lấy giá trị trung bình của trạng thái hiện tại để làm dự đoán cho bước tiếp theo
    predicted_price = np.random.normal(model_hmm.means_[current_state][0], np.sqrt(model_hmm.covars_[current_state][0][0]))
    predicted_prices.append(predicted_price)
    # Cập nhật giá trị hiện tại
    current_price = predicted_price
print(predicted_prices)

[26854.679351395327, 15117.798117137636, 25947.51894315077, 24360.991411255072, 29948.265740219707, 23405.073502927138, 29193.37656680782, 25085.844366951897, 15394.034086155789, 32506.18055597185, 14446.739159783834, 13223.988577113641, 21975.261759560122, 15583.962723067689, 30411.87121574281]

In [12]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import  LSTM, Dropout, Dense

# Đọc dữ liệu từ tệp CSV
data = pd.read_csv('/mnt/8E1E76BC1E769D41/Ki6/Phân tích chuỗi tgian/data-kiem-tra-2.csv')

# Chuyển đổi cột date sang định dạng datetime
data['date'] = pd.to_datetime(data['date'], format='%d.%m.%Y')

# Chỉ sử dụng một cột để dự đoán (ví dụ: truong_4)
close_prices = data['truong_4'].values

# Chuẩn hóa dữ liệu
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_prices = scaler.fit_transform(close_prices.reshape(-1, 1))

# Tạo dữ liệu đầu vào cho mô hình
sequence_length = 60
X = []
y = []
for i in range(sequence_length, len(scaled_prices)):
    X.append(scaled_prices[i-sequence_length:i, 0])
    y.append(scaled_prices[i, 0])

X = np.array(X)
y = np.array(y)

# Chuyển đổi dữ liệu thành định dạng phù hợp cho RNN-LSTM
X = X.reshape((X.shape[0], X.shape[1], 1))

# Chia dữ liệu thành tập huấn luyện (70%) và kiểm tra (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


model = Sequential()

# Lớp RNN để trích xuất đặc trưng không gian

# Lớp LSTM để xử lý tuần tự
model.add(LSTM(50, return_sequences=False))
model.add(Dropout(0.2))

# Lớp đầu ra
model.add(Dense(1))

# Biên dịch mô hình
model.compile(optimizer='adam', loss='mean_squared_error')

# Huấn luyện mô hình
history = model.fit(X_train, y_train, epochs=5, batch_size=32, validation_data=(X_test, y_test))

# Dự đoán trên tập kiểm tra
predicted_prices = model.predict(X_test)
predicted_prices = scaler.inverse_transform(predicted_prices)

# Chuyển đổi y_test về giá gốc
real_prices = scaler.inverse_transform(y_test.reshape(-1, 1))

# Tính toán RMSE
rmse = np.sqrt(mean_squared_error(real_prices, predicted_prices))
print(f'Root Mean Squared Error (RMSE): {rmse}')

2024-06-04 11:45:34.748584: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-06-04 11:45:34.994443: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-06-04 11:45:34.995677: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-06-04 11:45:36.005343: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2024-06-04 11:45:39.210853: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 92396160 exceeds 10% of free system memory.

Epoch 1/5
12030/12031 [============================>.] - ETA: 0s - loss: 2.3804e-04

2024-06-04 11:49:08.733981: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 39598560 exceeds 10% of free system memory.

12031/12031 [==============================] - 237s 19ms/step - loss: 2.3803e-04 - val_loss: 2.2974e-04
Epoch 2/5
12031/12031 [==============================] - 227s 19ms/step - loss: 2.3483e-04 - val_loss: 2.2965e-04
Epoch 3/5
12031/12031 [==============================] - 223s 19ms/step - loss: 2.3364e-04 - val_loss: 2.2807e-04
Epoch 4/5
12031/12031 [==============================] - 222s 18ms/step - loss: 2.3303e-04 - val_loss: 2.2759e-04
Epoch 5/5
12031/12031 [==============================] - 218s 18ms/step - loss: 2.3234e-04 - val_loss: 2.3038e-04

2024-06-04 12:04:26.840327: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 39598560 exceeds 10% of free system memory.

5157/5157 [==============================] - 29s 5ms/step
Root Mean Squared Error (RMSE): 898.54552554855